<launch>
	<arg name="world" default="singlePillar"/>
	
	<include file="$(find husky_gazebo)/launch/husky_empty_world.launch">
		<!--<arg name="world_name" value="/usr/share/gazebo-2.2/worlds/$(arg world).world"/>-->
		<arg name="world_name" value="$(find husky_highlevel_controller)/worlds/$(arg world).world"/>
		<arg name="laser_enabled" value="true"/>
	</include>
	

	
	<!--<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>-->   <!--  https://github.com/ros-teleop/teleop_twist_keyboard -->
	
	<node pkg="husky_highlevel_controller" type="husky_highlevel_controller" name="husky_highlevel_controller" output="screen">
		<rosparam command="load" file="$(find husky_highlevel_controller)/config/config.yaml" />
	</node>
	
	
	<node pkg="husky_highlevel_controller" type="husky_highlevel_ctrl_services" name="husky_highlevel_ctrl_services" output="screen"/>
	
	
</launch>
